# Dependências
node_modules/

# Build e artefatos gerados
/dist/
/build/
/coverage/
/.next/
/.nuxt/
/.cache/

# Arquivos de ambiente
.env
.env.*

# Prisma
/generated/
/prisma/migrations/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lock files
*.lock

# Editor
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db